form{
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    gap:6px;
}

.d2{
    min-width: 100vw;
    display: grid;
    place-items: center;
    margin-top: 13px;
}

.d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    font-family: fantasy;
}

.d0 {
    font-size: 7vh;
    margin-bottom: 37px;
    font-weight: 700;
    color: gray;
    font-family: fantasy;
    border-bottom: 3px solid lightgrey;
}
input{
    border: none;
    border-bottom: 1px solid lightgrey;
    outline:none;
    
}

button:hover{
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.em{
    min-width: 17vw;
    padding-left: 26px
}

.bt1{
    margin-right: 24px;
}

.dt{
    margin-top: 16px;
}

th{
    padding-right: 8px;
}

.dg{
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 4px 0px 0px 16px;
    border-radius: 14px;
}